<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Exo+2:900' rel='stylesheet' type='text/css'>

<div class="homeBody">
    <div class="row-fluid">
        <div class="homeHeader">
            THE APP THAT BRINGS STUDENTS TOGETHER<br><br>
        </div> <!-- homeHeader -->
        <div class="homeTitle">
            STUDY BUDDY
        </div> <!-- homeTitle -->
    </div> <!-- row -->

    <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">
            <hr>
            <div class="homeDescription">

                Are you a UCSD student who needs a study buddy?

                <br>Use STUDY BUDDY with your Twitter account to find and chat with others
                who have compatible schedules, classes, and interests!
                <br><br>
            </div> <!-- homeDescription -->

            <div class="loginButton">
                <a class="btn btn-primary btn-lg sharp" href="/auth/twitter" role="button">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    LOGIN
                </a>
            </div> <!-- loginButton -->

            <br><br><br><br>
            <!-- FEATURES<br>
            <br>
            - WhenIsGood scheduling - Course lists - Interests - Messaging - Custom profiles -->

        </div> <!-- span6 -->
        </div class="span3"></div>
    </div> <!-- row -->

</div> <!-- homeBody -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>
