
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="#">Profile</a></li>
		<li role="presentation"><a href="#">Messages</a></li>
		<li role="presentation"><a href="#">Public</a></li>
	</ul>
  </div>
</nav>

<a href="/auth/twitter">Click here to login with Twitter</a>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>