<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/profile">Profile</a></li>
		<li role="presentation"><a href="/chat">Messages</a></li>
    <li role="presentation"><a href="/study">Study Locations</a></li>
	</ul>
  </div>
</nav>

<a class="logout" href="/logout">
    <div class="logout-button">
        Logout
    </div>
</a>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>
