<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" ><a href="/chat">Messages</a></li>
                <li role="presentation"class="active"><a href="/study">Study Locations</a></li>
            </ul>
        </div>
    </nav>
    <a class="logout" href="/logout">
        <div class="logout-button">
            Logout
        </div>
    </a>
    <br>
</header>
<section id="studyBackground">
      <h3>Study Locations</h3>
      <img src="./img/geisel.jpg" width="300"/>
      <h4>Geisel Library</h4>
      <p>Description: Located in the middle of campus, Geisel seats up to 3000 people and has an Overnight Study Commons. More details about the different parts of Geisel can be found <a href="http://libraries.ucsd.edu/spaces/places-to-study">here</a>.</p>
      <p><b>Hours:</b></p>
      <div class="hours">
          <p>Monday-Thursday: 7:30 a.m. - 12:00 a.m.</p>
          <p>Friday: 7:30 a.m. - 6:00 p.m.</p>
          <p>Saturday: 10:00 a.m. - 6:00 p.m.</p>
          <p>Sunday: 10:00 a.m. - 12:00 a.m.</p>
      </div>
      <br>

      <img src="./img/bml.jpg" width="300"/>
      <h4>Biomedical Library</h4>
      <p>Description: The Biomedical Library, also known as BML, is on the medical school campus, conveniently located near the Gilman/Meyers bus stop, and seats up to 610 people.</p>
       <p><b>Hours:</b></p>
       <div class="hours">
          <p>Monday-Thursday: 8:00 a.m. - 12:00 a.m.</p>
          <p>Friday: 8:00 a.m. - 6:00 p.m.</p>
          <p>Saturday: 10:00 a.m. - 6:00 p.m.</p>
          <p>Sunday: 10:00 a.m. - 12:00 a.m.</p>
      </div>

      <br>

      <img src="./img/pceast.jpg" width="300"/>
      <h4>Price Center East</h4>
      <p>Description: Price Center East has a computer lab, as well as group study rooms that can be reserved, and various lounges for studying, and it seats up to 854.</p>
      <p><b>Hours:</b></p>
      <div class="hours">
          <p>Monday-Friday: 24 hours a day</p>
          <p>Saturday: 8:00 a.m. - 6:00 p.m.</p>
          <p>Sunday: 9:30 a.m. - 12:00 a.m.</p>
      </div>

      <br>

      <img src="./img/pcwest.jpg" width="300"/>
      <h4>Price Center West</h4>
      <p>Description: Price Center West has a computer lab and also includes Sun God Lounge, seating up to 703 people total.</p>
      <p><b>Hours:</b></p>
      <div class="hours">
          <p>Monday-Friday: 7:00 a.m. - 11:00 p.m.</p>
          <p>Friday: 8:00 a.m. - 6:00 p.m.</p>
          <p>Saturday: 8:00 a.m. - 11:00 p.m.</p>
          <p>Sunday: 9:30 a.m. - 11:00 p.m.</p>
      </div>

      <br>

      <img src="./img/galbraith.jpg" width="300"/>
      <h4>Galbraith Hall</h4>
      <p>Description: Galbraith Hall has both a collaborative lounge and a quiet study lounge, and it seats up to 130 people.</p>
      <p><b>Hours:</b></p>
      <div class="hours">
          <p>Sunday-Saturday: 24 hours a day</p>
      </div>

      <br>

      <p>Additional study spaces within individual colleges can be found <a href="https://students.ucsd.edu/campus-services/technology/campus-study-locations.html">here</a>.</p>

</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>