<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/profile">Profile</a></li>
                <li role="presentation" ><a href="/chat">Messages</a></li>
                <li role="presentation"class="active"><a href="/study">Study Locations</a></li>
            </ul>
        </div>
    </nav>
    <a class="logout" href="/logout">
        <div class="logout-button">
            Logout
        </div>
    </a>
    <br>
</header>
<section>
    <img src="./img/geisel.jpg" width="300"/>
    <p>Geisel Library</p>
    <p>Located in the middle of campus, Geisel seats up to 3000 people and has an Overnight Study Commons. More details about the different parts of Geisel can be found <a href="http://libraries.ucsd.edu/spaces/places-to-study">here</a>.</p>
    <img src="./img/bml.jpg" width="300"/>
    <p>Biomedical Library</p>
    <p>BML is on the medical school campus, conveniently located near the Gilman/Meyers bus stops.</p>
    <img src="./img/pceast.jpg" width="300"/>
    <p>Price Center East</p>
    <p></p>
    <img src="./img/pcwest.jpg" width="300"/>
    <p>Price Center West</p>
    <p></p>
    <img src="./img/galbraith.jpg" width="300"/>
    <p>Galbraith Hall</p>
    <p></p>
    <p>More study spaces within individual colleges can be found <a href="https://students.ucsd.edu/campus-services/technology/campus-study-locations.html">here</a>.</p>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>
