<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/generic.css" rel="stylesheet">
  <link href="css/4-col-portfolio.css" rel="stylesheet" />

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/profile">Profile</a></li>
		<li role="presentation"><a href="/messages">Messages</a></li>
		<li role="presentation"><a href="/chat">Public</a></li>
	</ul>
  </div>
</nav>

</head>

<body>

Choose from the list of course groups already available:
<br>
<a href="chat"> CSE 21 (1 people active) </a>
<br>
<a href="chat"> CSE 8A (10 people active) </a>
<br>
<a href="chat"> CSE 100 (200 people active)</a>
<br>
<a href="chat"> CSE 151 (43 people active)</a>
<br>
<a href="chat"> CSE 190 (3 people active)</a>
<br>
<a href="chat"> CSE 12 (100 people active)</a>
<br>
<br>
Or Create your own:
<br>
<br>
<form action="chat">
	Class: <input type="text" name="LastName" placeholder="Ex: COGS 121"><br>
	<input type="submit" value="Submit">
</form>
 
<script src="./js/jquery.min.js"></script>
<script src="./js/whenisgood.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./bootstrap/js/bootstrap.min.js"></script>


</body>
</html>
